extends layout

block content
  h1 #{title}
  p Math.pow() is applied to #{a,b} is #{d}
  p Math.sign() is applied to #{b} is #{i}
  p Math.tanh() is applied to #{c} is #{v}
  p Math.trunc() is applied to #{d} is #{y}